$number : 3/4;

.testing {
  width: percentage(5/7);
}

.hello {
  height: percentage($number);
}

body {
  background: teal;
}

h1 {
  color: red;
}

section {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}
