.testing {
  width: 71.42857%; }

.hello {
  height: 75%; }

body {
  background: teal; }

h1 {
  color: red; }

section {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 20px; }
